@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: 30px;
  background-color: #f6faff;
}

.bordered-box {
  border: 1px solid #1890ff;
  border-radius: 25px;
}
.box-shadow {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 80.8%, 0.5);
}

.full-height {
  min-height: 100%;
}
.select-input {
  width: 150px;
}
.select-input-pending {
  color: #ff6200;
  font-weight: 600;
}
.select-input-absent {
  color: #ff1100;
  font-weight: 600;
}
.select-input-completed {
  color: #04cd22;
  font-weight: 600;
}
.ant-select-selector {
  border-radius: 25px !important;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
}
